{% extends 'base.html'}

{% block main %}
{% include 'flashmsgs.html'%}

<h1 class = "header"> Add New Property </h1>

<form method="POST" action="/property">
    {{form.csrf_token}}

    <div class="add-prop">
        <div class = "ptitle">
            {{form.title.label (class="pf-label")}}
            <br>
            {{form.title (class="pf-field")}}
        </div>

        <div class = "pdesc">
            {{form.description.label (class="pf-label")}}
            <br>
            {{form.description (class="pf-field")}}
        </div>

        <div class = "pf-grid">
            <div class ="bedrooms">
                <h3>{{form.bedroom.label (class="pf-label")}}</h3>
                <br>
                {{form.bedroom (class="pf-field")}}
            </div>
            
            <div class = "bathrooms">
                <h3>{{form.bathroom.label (class="pf-label")}}</h3>
                <br>
                {{form.bathroom (class="pf-field")}}
            </div>

            <div class = "price">
                <h3>{{form.price.label (class="pf-label")}}</h3>
                <br>
                {{form.price (class="pf-field")}}
            </div>

            <div class ="pr-type">
                <h3>{{form.type.label (class="pf-label")}}</h3>
                <br>
                {{form.type (class="pf-field")}}
            </div>
        </div>

        <div class="location">
            <h3>{{form.location.label (class="pf-label")}}</h3>
            <br>
            {{form.location (class="pf-field")}}
        </div>

        <div class="pf-photo">
            <h3>{{form.photo.label (class="pf-label")}}</h3>
            <br>
            {{form.photo (class="pf-field")}}
        </div>
    </div>
    
    <br>
    <button type="submit" class="btn">Add Property</button>
</form>
{% endblock %}